# PlatformIO
.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json

# Build artifacts
build/
*.bin
*.elf
*.map
*.o
*.a

# Editors
.vscode/*
!.vscode/extensions.json
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
